
.image-content {
    margin-top: 60px;
    display: flex;
    margin-bottom: 60px;
}

    .image-content img {
        width: 1600px;
        height: 300px;
    }

.image-container img {
    width: 400px;
    height: 250px;
}

.center {
    padding-left: 30px;
    padding-right: 30px;
}

    .center p {
        color: #555555;
        font-weight: 400;
        font-size: 16px;
        padding-bottom: 50px;
    }

.submit-strut {
    margin-left: 250px;
    width: 60%;
    max-width: 200px;
    background: #355898;
    color: white;
    font-size: 20px;
    align-items: center;
    padding: 10px 0;
}

.submit-strut {
    text-decoration: none;
    padding: 20px;
}

    .submit-strut:hover {
        background-color: red;
        cursor: pointer;
        color: white;
    }

.image-container {
    margin-left: 90px;
    margin-bottom: 60px;
    display: flex;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr;
    row-gap: 70px;
    column-gap: 70px;
}
@media only screen and (max-width:1440px) {
    .img-container {
        padding-right: 0px;
        padding-left: 5px;
    }

    .image-container {
        margin-left: 20px;
        margin-bottom: 30px;
        display: flex;
        row-gap: 20px;
        column-gap: 20px;
    }

    .submit-strut {
        margin-left: 50px;
    }
}
@media only screen and (max-width:1290px) {
    .image-container {
        margin-left: 10px;
        margin-bottom: 20px;
        display: flex;
        row-gap: 20px;
        column-gap: 20px;
    }

        .image-container img {
            width:300px;
        }

    .image-content ul {
        margin-top: 5px;
        padding-left: 0px;
        color: #555555;
        padding-bottom: 20px
    }
}
@media only screen and (max-width:970px) {
    .image-content {
        display: grid;
    }

        .image-content img {
            width: 500px;
        }

    .image-container {
        display: flex;
        flex-direction: column;
    }
}
@media only screen and (max-width:512px) {
    .image-content img {
        width:300px;
    }
}
