
.filterable{
   padding-left:150px;
   padding-right:150px;
   margin-top:60px;
   box-sizing:border-box;  
}
.main-fill {
    max-width: 1500px;
    margin: auto;
}
h4 {
    font-size: 20px;
    word-break: break-all;
}
.row-filterable {
    margin: 8px -16px;
}
 .row-filterable,
 .row-filterable > .col-filterable {
        padding: 8px
    }
.col-filterable {
    float: left;
    display:block;
}
.col-filterable img {
        justify-content:center;
        width: 300px;
        height: 220px;
        border:2px groove black;
 }
.col-filterable img:hover{
    color:black;

}
.row-filterable:after {
            content: "";
            display: table;
            clear: both;
        }
.show {
    display: block;
}
.btn-image {
    align-items: center;
    border: none;
    padding: 10px 25px;
    border-right: 2px solid black;
    cursor: pointer;
    font-size: 18px;
    font-weight: 400;
    background: white;
    color: darkblue;
}
.btn-image:hover{
    color:red;
}
@media only screen and (max-width:1125px) {
    .filterable {
        padding-left:50px;
        padding-right:50px;
    }
    }
@media only screen and (max-width:355px) {
    .filterable {
        padding-left:0px;
        padding-right:0px;
    }
    .main-fill {
        max-width:900px;
        margin: auto;
    }
    .row-filterable {
        margin: 5px -10px;
    }
    .col-filterable img {
        justify-content: center;
        width:200px;
        height:120px;
        border: 2px groove black;
    }
    .image-content h4 {
        font-size: 14px;
        word-break: break-all;
    }
    #image-container{
        margin:5px -10px;
        padding:8px;
    }

    .btn-image {
        align-items: center;
        border: none;
        padding: 10px 15px;
        cursor: pointer;
        font-size: 16px;
        font-weight: 300;
    }
}
    
