#service-content {
	padding-left: 200px;
	padding-right: 200px;
	padding-bottom: 50px;
}

.service-content {
	margin-top: 100px;
	display: flex;
}

.service-content p {
	padding-left: 70px;
	font-size: 18px;
	color: #555555;
	font-weight: 400px;
}

h3 {
	text-align: center;
	padding-right: 30px;
	font-weight: 600;
	font-size: 25px;
	float: left;
}

#vl-service {
	border-left: 1px solid black;
	height: 120px;
}

.service-container2 {
	padding-left: 200px;
	padding-right: 180px;
	padding-bottom: 50px;
}

h1 {
	padding-top: 20px;
	padding-bottom: 30px;
	font-weight: 600;
}

.service-container2 p1 {
	color: #555555;
	font-size: 15px;
}

.carousal {
	position: relative;
}

.carousal i:first-child {
	padding-left: -100px;
}
.carousal i:last-child {
	right: 50px;
}
.slick-imges {
	margin: 0 20px;
}

.slick-imges img {
	display: table;
}

.slick-imges-card-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin-left: 150px;
	margin-right: 150px;
	padding: 0px;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-imges-card-slider .slick-track,
.slick-imges-card-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0px;
	display: flex;
}

.slick-track:before,
.slick-track:after {
	display: table-cell;
	content: "";
}

.slick-track:after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-imges {
	display: none;
	float: right;
	min-height: 1px;
}

[dir="rtl"] .slick-imges {
	float: right;
}

.slick-imges img {
	display: block;
}

.slick-imges.slick-loading img {
	display: none;
}

.slick-imges.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-imges {
	display: block;
}

.slick-loading .slick-imges {
	visibility: hidden;
}

.slick-vertical .slick-imges {
	display: block;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: block;
}
.slick-arrow {
	height: 50px;
	width: 50px;
	background: red;
	text-align: center;
	line-height: 50px;
	border-radius: 50%;
	cursor: pointer;
	position: absolute;
	top: 10%;
	font-size: 1.25rem;
}
.slick-arrow prev {
	right: 30px;
}
.slick-arrow next {
	left: 10px;
}
.card .imges img {
	width: 230px;
	height: 200px;
	object-fit: cover;
}
.carousal {
	padding-left: 200px;
	padding-right: 180px;
}
.content-list {
	padding-left: 210px;
	padding-right: 180px;
}
.content-list,
.row-content {
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: relative;
}
.row-content {
	display: flex;
	flex-wrap: wrap;
}

.col-content {
	width: 25%;
	padding: 0 25px;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.435;
}
.col-content ul li {
	color: #555555;
}
.col-content h6 {
	margin-left: -35px;
}
.content-list1 {
	padding-left: 210px;
	padding-right: 180px;
	padding-bottom: 30px;
}
.content-list1,
.row-content1 {
	padding-top: 30px;
	display: flex;
	justify-content: space-between;
	width: 100%;
	position: relative;
}

.row-content1 {
	display: flex;
	flex-wrap: wrap;
}

.col-content1 {
	width: 25%;
	padding: 0 25px;
	font-size: 15px;
	font-weight: 400;
	line-height: 1.435;
}
.col-content1 ul li {
	color: #555555;
}

.col-content1 h6 {
	margin-left: 35px;
}
@media only screen and (max-width: 1400px) {
	#service-content {
		padding-left: 50px;
		padding-right: 50px;
	}

	.service-content {
		padding-left: 20px;
	}

	.service-container2 {
		padding-left: 50px;
		padding-right: 50px;
	}
	.carousal {
		padding-left: 50px;
		padding-right: 50px;
	}
	.content-list {
		padding-left: 50px;
		padding-right: 50px;
	}
	.content-list1 {
		padding-left: 50px;
		padding-right: 50px;
		padding-bottom: 30px;
	}
}
@media only screen and (max-width: 1024px) {
	#service-content {
		margin-left: 20px;
		margin-right: 20px;
	}
	.service-content h3 {
		font-size: 20px;
	}
	.service-content p {
		font-size: 16px;
		padding-left: 10px;
	}
	.service-container2 {
		padding-left: 20px;
		padding-right: 20px;
	}
	.service-container2 h1 {
		margin-top: 20px;
	}
	.carousal {
		display: none;
	}
	.content-list {
		margin-top: 0px;
		padding-left: 50px;
		padding-right: 50px;
	}
	.content-list,
	.row-content {
		justify-content: space-between;
		width: 100%;
	}
	.col-content {
		width: 50%;
	}
	.content-list1,
	.row-content1 {
		justify-content: space-between;
		width: 100%;
	}

	.col-content1 {
		width: 50%;
	}
}
@media only screen and (max-width: 900px) {
	.service-container2 {
		padding-left: 20px;
		padding-right: 20px;
	}
	.service-content {
		margin-top: 100px;
		display: grid;
		padding: 0 10px;
	}
	#vl-service {
		height: 0px;
	}
	.service-content p {
		font-size: 16px;
		padding-top: 10px;
	}
	.service-container2 {
		padding-top: 100px;
	}
	.service-container2 h1 {
		font-size: 25px;
		text-align: center;
		padding-top: 50px;
	}
	.carousal {
		display: none;
	}
	.content-list {
		margin-top: -140px;
		padding-left: 100px;
	}
	.content-list,
	.row-content {
		justify-content: space-between;
		width: 100%;
	}
	.col-content {
		width: 100%;
	}
	.content-list1 {
		padding-left: 100px;
	}
	.content-list1,
	.row-content1 {
		padding-top: 5px;
		justify-content: space-between;
		width: 100%;
	}
	.col-content1 {
		width: 100%;
	}
	.col-content1 h6 {
		margin-left: 0px;
	}
}
@media only screen and (max-width: 648px) {
	.service-content p {
		font-size: 14px;
		padding-top: 10px;
	}
	.service-container2 {
		margin-top: 30px;
	}
}

@media only screen and (max-width: 500px) {
	#service-content {
		margin: 0px;
		padding: 0px 20px;
		display: grid;
	}
	.col-content h6 {
		margin-left: 0px;
	}
	.content-list {
		margin-top: -100px;
		padding-left: 0px;
	}
	.service-container2 {
		margin-top: 80px;
	}
	.row-content {
		padding-left: 20px;
	}
	.col-content1 h6 {
		margin-left: 0px;
	}
	.content-list1 {
		margin-top: 10px;
		padding-left: 0px;
	}
	.row-content1 {
		padding-left: 20px;
	}
}
@media only screen and (max-width: 402) {
	#service-content {
		padding-top: 20px;
	}
	.service-content p {
		font-size: 10px;
	}
	.service-content h3 {
		margin-top: 20px;
	}
	.service-container2 h1 {
		margin-top: 250px;
		padding: 10px 20px 50px;
	}
}
